@CHARSET "GB18030";

#page .node_add{
	float:left;
	width: 300px;
	margin-top:30px;
	margin-left:60px;
}

#page .node_add h2{
	padding-top:20px;
	padding-bottom:20px;
}

#page .node_display{
	float:right;
	width: 430px;
	margin-right:100px;
	background: url(images/homepage07.jpg) no-repeat 0 100%; 
}

#page .node_display h2{
	padding-top:20px;
	padding-bottom:20px;
}

#page .node_display .links {
	float:left;
	width:300px;
	font-size:20px;
}

#page .node_display li {
	width:400px;;
}

#page .node_display .edit,#page .node_display .delete{
	font-size:15px;
	padding-right:10px;
}

#page .left-side{
	float:left;
	width:50%;
}

#page .right-side{
	float:right;
	width:50%;
}


#page .admin {
	margin-left:80px;
	width:50%;
}


#page .admin li {
	width:400px;
	float:left;
}

#page .admin .admin_nodes {
	width:150px;	
}

#page .admin .links {
	float:left;
	width:150px;
	font-size:15px;
}

#page .admin .edit,#page .admin .delete{
	font-size:15px;
	padding-left:10px;
}



#warning{
	background-color : red;
	font-size:15px;
	text-align: center;
}

#page .frame{
	float:left;
	width: 100%;
}

#page .frame_right{
	float:left;
	width: 420px;
}

#page .frame_right h2{
	background: url(images/homepage07.jpg) no-repeat 0 100%; 	
}

#page .frame_right form {
	padding-left:5px;
	float:right;
}

#page .frame_right li {
	width:85%;
	padding-top:30px;
}

#page .frame_right label {
	float:left;
	width: 200px; height: 20px;
	font-size: 15px;
}

#page .frame_right .btn {
	width:50px;
	
}

#page .show_category{
	float:right;
	width: 420px;
}

#page .show_category h2{
	background: url(images/homepage07.jpg) no-repeat 0 100%; 	
}

#page .show_category form {
	padding-left:5px;
	float:right;
}

#page .show_category li {
	width:85%;
	padding-top:30px;
}

#page .show_category label {
	float:left;
	width: 200px; height: 20px;
	font-size: 15px;
}

#page .show_category .btn {
	width: 50px; height: 20px;
	
}


#page .node-view {
	padding-left:100px;
	height:500px;	
	
}

#page .node-view table {
	margin-top:10px;
	font-size:20px;	
	text-align : center;
	border: 2px solid rgb(192, 0, 0);
    
	
}

#page .node-view td {
	padding-left:10px;
	border-top-width:	0;
border-right-width:	0;
border-bottom-width:	0;
border-left-width:0;
	
}

#page .node-view span {
	color: #333333;
	
}

#page .node-view .description{
	border-top-width:	1;
border-right-width:	1;
border-bottom-width:	1;
border-left-width:1;
	
}
