@CHARSET "UTF-8";

.register {
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #2D2D2D;
	
}

.register .form {
	padding-top:130px;
	padding-left:130px;

}

.register h2 {
	float: left;
	width: 442px;
	padding: 47px 26px 30px 82px;
	background: url(images/bg06.jpg) no-repeat;

}

.register .submit {
	padding-top:30px;
}


.authwarning {
	padding-left: 50px; 
	padding-top: 30px; 
	width:700px;
}

.authwarning h2{
	color: #FF0000;	
}
